.background {
    -fx-background-color: #4188F8;
}

/* 
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
 .gitButton {
    
    -fx-border-color: #ffffff;
     -fx-background-color: #008080;
    -fx-text-fill: #ffffff;
}
.buttons {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #4188F8;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.buttons:hover {
    -fx-background-color: #061997;
    -fx-cursor: hand ;
}

.buttons:pressed, .button:default:hover:pressed {
  -fx-background-color: #9CE2FE;
}

.myprofile {
	-fx-font-family: HipsterishFontNormal;
}





