.background {
    -fx-background-color: #4188F8;
}

/* 
 * Author: Javier Lozano
*/
 .gitButton {
    
    -fx-border-color: #ffffff;
     -fx-background-color: #008080;
    -fx-text-fill: #ffffff;
}


.myprofile {
	-fx-font-family: HipsterishFontNormal;
}





